<launch>

  <!-- Load joint controller configurations from YAML file to parameter server -->
  <rosparam file="$(find junny_control)/config/model20.yaml" command="load"/>

  <!-- load the controllers -->
  <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false"
	output="screen" ns="/model20" args="joint_state_controller
					  left_front_wheel_velocity_controller
					  right_front_wheel_velocity_controller
            left_rear_wheel_velocity_controller
            right_rear_wheel_velocity_controller
					  left_front_wheel_suspension_controller
					  right_front_wheel_suspension_controller
            left_rear_wheel_suspension_controller
            right_rear_wheel_suspension_controller"/>

  <!-- convert joint states to TF transforms for rviz, etc -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"
	respawn="false" output="screen">
    <remap from="/joint_states" to="/model20/joint_states" />
  </node>

</launch>
